@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

body {
    background-color: #000;
    color: #fff;
    font-family: 'Comfortaa', cursive;
}
.container {
    width: 1024px;
    margin: 0 auto;
}
.typing {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 1px solid;
    animation: 
    typingEffect 3s steps(50),
    blinkEffect 0.5s step-end infinite;
}
@keyframes typingEffect {
    from { width: 0 }
    to { width: 100% }
}
@keyframes blinkEffect {
    from, to { border-color: transparent }
    50% { border-color: inherit; }
}